<section id="wrapper">
  <h2 class="mb-3">Prijava:</h2>
  <div class="tab-content">
    <div role="tabpanel">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="loginName">Email ili korisničko ime</label>
          <input formControlName="email" type="email" id="loginName" class="form-control" />

          <div *ngIf="checkErrorFunction['email'].getError('required')!=null" class="text-danger">Unesite
            email ili korisničko
            ime!</div>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="loginPassword">Šifra</label>
          <input formControlName="password" type="password" id="loginPassword" class="form-control" />

          <div *ngIf="checkErrorFunction['password'].getError('required')!=null" class="text-danger">Lozinka je
            obavezna!</div>
        </div>

        <!-- 2 column grid layout -->
        <div class="row mb-4">
          <div class="col-md-6 d-flex">
            <!-- Checkbox -->
            <div class="form-check mb-3 mb-md-0">
              <label class="form-check-label" for="loginCheck"> Zapamti me </label>
              <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
            </div>
          </div>

          <div class="col-md-6 d-flex">
            <!-- Simple link -->
            <a class="btn link-primary pointer" (click)="send = true">Zaboravio si lozinku?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block mb-4">Uloguj se</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Nisi član? <a routerLink="/signup-page">Registruj se</a></p>
        </div>
      </form>
      <div class="text-primary text-center" *ngIf="send">Email za reset lozinke je poslat u vaš inbox! 📩</div>
    </div>
  </div>
</section>