<section id="wrapper">
  <h2 class="mb-3">Rergistracija:</h2>
  <div class="tab-content">
    <div role="tabpanel">
      <form [formGroup]="signupForm" (ngSubmit)="signUp()">

        <div class="row">

          <div class="col-md-6 align-items-stretch">
            <!-- Name input -->
            <div class="form-outline">
              <label class="form-label" for="registerName">Ime</label>
              <input formControlName="name" type="text" id="registerName" class="form-control" />

              <div *ngIf="checkErrorFunction['name'].getError('required')!=null" class="text-danger small">Unesite
                korisničko
                ime!</div>
              <div *ngIf="checkErrorFunction['name'].getError('minLength')!=null" class="text-danger small">Korisničko
                ime
                treba
                da sadrži najmanje 4 znaka!</div>
            </div>

            <!-- Username input -->
            <div class="form-outline">
              <label class="form-label" for="registerSurname">Prezime</label>
              <input formControlName="surname" type="text" id="registerSurname" class="form-control" />

              <div *ngIf="checkErrorFunction['surname'].getError('required')!=null" class="text-danger small">Unesite
                prezime!</div>
            </div>

            <!-- Email input -->
            <div class="form-outline">
              <label class="form-label" for="registerEmail">Email</label>
              <input formControlName="email" class="form-control" />
              <div *ngIf="checkErrorFunction['email'].getError('required')!=null" class="text-danger small">Email je
                obavezan!
              </div>
              <div *ngIf="checkErrorFunction['email'].getError('email')!=null" class="text-danger small">Email je
                u pogrešnom formatu!
              </div>
            </div>
          </div>

          <div class="col-md-6 align-items-stretch">
            <!-- phone input -->
            <div class="form-outline">
              <label class="form-label" for="phoneContent">Telefon</label>
              <input formControlName="phone" type="tel" id="phoneContent" class="form-control"
                placeholder="065 000 000" />
            </div>

            <!-- Password input -->
            <div class="form-outline">
              <label class="form-label" for="registerPassword">Lozinka</label>
              <input formControlName="password" type="password" id="registerPassword" class="form-control" />

              <div *ngIf="checkErrorFunction['password'].getError('required')!=null" class="text-danger small">Lozinka
                je
                obavezna!
              </div>
              <div *ngIf="checkErrorFunction['password'].getError('minLength')!=null" class="text-danger small">Lozinka
                mora sadržavati najmanje 3 karaktera!
              </div>
            </div>

            <!-- Repeat Password input -->
            <div class="form-outline mt-4">
              <label class="form-label" for="registerRepeatPassword">Ponovi lozinku</label>
              <input formControlName="repeatPassword" type="password" id="registerRepeatPassword"
                class="form-control" />

              <div *ngIf="checkErrorFunction['repeatPassword'].getError('required')!=null" class="text-danger small">
                Ponoviti
                lozinku!
              </div>
              <div *ngIf="checkErrorFunction['repeatPassword'].getError('repeatedPasswordMustMatch')!=null"
                class="text-danger small">Ponovljenja lozinka se ne podudara!
              </div>
            </div>

          </div>
          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center m-4">
            <input formControlName="registerCheck" class="form-check-input me-2" type="checkbox" checked
              aria-describedby="registerCheckHelpText" />
            <label class="form-check-label" for="registerCheck">
              Slažem se sa svim pravima
            </label>
            <div class="text-danger small" *ngIf="checkErrorFunction['registerCheck'].getError('required')!=null">
              &nbsp; *obavezno polje
            </div>
          </div>
        </div>
        <!-- Submit button -->
        <div class="d-flex justify-content-center">
          <button [disabled]="signupForm.invalid" type="submit" class="btn btn-primary btn-block mb-4">Registruj
            se</button>
        </div>

        <!-- Submit button -->
        <div class="text-center">
          <p>Postojeći član? <a routerLink="/login-page">Uloguj se</a></p>
        </div>
      </form>
    </div>
  </div>
</section>